/*Desde aca son estilos de la barra de navegacion y de la pagina comunes para todas las paginas.*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header{
  margin-bottom: 2%;
}
footer{
  margin-top: 2%;
}

input{
  font-family: 'Helvetica', fontawesome;
  font-weight: 900;
}


body{
  background-color:#CBE2CA;
  height:100%;
}

h2{
  text-align: center;
color: rgb(255,255,255);
margin-top: 1%;
font-family: 'Neucha', cursive;
}

h1{
  font-size: 40px;
  font-weight: bold;
  color: #14A88D;/*verde nav*/
  font-family: 'Neucha', cursive;
}


.opciones{
  background-color: white;
  color:#14A88D;
  font-family:'Asap Condensed', sans-serif !important;
  font-size: 20px !important;
}
.subOpciones{
  background-color: white;
  color:#14A88D;
  font-family:'Asap Condensed', sans-serif !important;
  font-size: 20px !important;
}

.btnFollow{
  background-color: #14A88D;
  color:white;
}

.btnTipoDonaciones{
  background-color: #14A88D;
  color:white;
  font-family:'Asap Condensed', sans-serif !important;
  font-size: 20px !important;
}

h5{
  background-color: white;
  color:orange;
  font-family:'Asap Condensed', sans-serif !important;
  font-size: 20px !important;
}
p{

  color:#14A88D;
  font-family:'Asap Condensed', sans-serif !important;
  font-size: 18px !important;
}


.icono{
  color: #14A88D;
  text-align: center;
}


.cardTexto{
  text-decoration: none;
  font-style: 'Helvetica',fontawesome;
  font-weight: 400;

}

.cardButton{
  margin-top: 2%;

}

}
a{color: black;

}


/*Hasta aca son estilos de la barra de navegacion y de la pagina comunes para todas las paginas.*/
