*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   background-color:#CBE2CA;
   height:100%;
}

header{
  margin-bottom: 2%;
}

footer{
  margin-top: 2%;
}

.perfil{
  border-radius: 10px;
  background-color: white;
  }

.experiencia{
  color:black;
  text-align: justify;
  margin:0;
  padding:0;
}

.divAvatar{
  width: 15%;
  padding: 1%;
}

.botonAvatar{
  border: none;
background: none;

}

.divAvatar img{
    border-radius: 50%;
    width: 100%;
    border-color: #14A88D;
    border-width: medium;
    border-style: solid;
  }

  .avatarYtexto{
    align-content: center;
  }


h1{
    color:#14A88D;
    margin-bottom: 0;
  }

  h2{
    color:black;
  }

  h3{padding:5px;
    color:#14A88D;/*verde nav*/
  }

  h5{color:#14A88D;/*verde nav*/

  }
  h6{
    color:#14A88D;/*verde nav*/
  }
  .Descripcion{
    background-color: white;
    border-radius: 10px;
    padding:10px;
    margin-top:10px;
  }

  .caja{
    background-color: rgba(0,0,0,0.1);/*gris claro*/
    border-radius: 5px;
    padding: 5px;


  }

  input{
    font-family: 'Helvetica', fontawesome;
    font-weight: 900;

  }
  .botonAgregar{
    background-color: #14A88D;/*verde nav*/
    color:white;
  }
  .pHabilidades{
    color:black;
  }
  #textoAcerca{
    text-align: justify;
  }

  #textoIntereses{
    text-align: justify;
  }
